In [148]:
import pandas as pd 
pd.options.display.float_format = '{:,.2f}'.format

In [77]:
df = pd.read_csv(r"../Day072-erf/003 salaries-by-college-major.csv")

In [78]:
df

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business
5,Art History,35800.0,64900.0,28800.0,125000.0,HASS
6,Biology,38800.0,64800.0,36900.0,135000.0,STEM
7,Business Management,43000.0,72100.0,38800.0,147000.0,Business
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM
9,Chemistry,42600.0,79900.0,45300.0,148000.0,STEM
10,Civil Engineering,53900.0,90500.0,63400.0,148000.0,STEM
11,Communications,38100.0,70000.0,37500.0,143000.0,HASS
12,Computer Engineering,61400.0,105000.0,66100.0,162000.0,STEM
13,Computer Science,55900.0,95500.0,56000.0,154000.0,STEM
14,Construction,53700.0,88900.0,56300.0,171000.0,Business
15,Criminal Justice,35000.0,56300.0,32200.0,107000.0,HASS
16,Drama,35900.0,56900.0,36700.0,153000.0,HASS
17,Economics,50100.0,98600.0,50600.0,210000.0,Business
18,Education,34900.0,52000.0,29300.0,102000.0,HASS
19,Electrical Engineering,60900.0,103000.0,69300.0,168000.0,STEM
20,English,38000.0,64700.0,33400.0,133000.0,HASS
21,Film,37900.0,68500.0,33900.0,136000.0,HASS
22,Finance,47900.0,88300.0,47200.0,195000.0,Business
23,Forestry,39100.0,62600.0,41000.0,111000.0,Business
24,Geography,41200.0,65500.0,40000.0,132000.0,HASS
25,Geology,43500.0,79500.0,45000.0,156000.0,STEM
26,Graphic Design,35700.0,59800.0,36000.0,112000.0,HASS
27,Health Care Administration,38800.0,60600.0,34600.0,101000.0,Business
28,History,39200.0,71000.0,37000.0,149000.0,HASS
29,Hospitality & Tourism,37800.0,57500.0,35500.0,124000.0,Business
30,Industrial Engineering,57700.0,94700.0,57100.0,173000.0,STEM
31,Information Technology (IT),49100.0,74800.0,44500.0,129000.0,STEM
32,Interior Design,36100.0,53200.0,35700.0,107000.0,HASS
33,International Relations,40900.0,80900.0,38200.0,157000.0,HASS
34,Journalism,35600.0,66700.0,38400.0,145000.0,HASS
35,Management Information Systems (MIS),49200.0,82300.0,45300.0,146000.0,STEM
36,Marketing,40800.0,79600.0,42100.0,175000.0,Business
37,Math,45400.0,92400.0,45200.0,183000.0,STEM
38,Mechanical Engineering,57900.0,93600.0,63700.0,163000.0,STEM
39,Music,35900.0,55000.0,26700.0,134000.0,HASS
40,Nursing,54200.0,67000.0,47600.0,98300.0,Business
41,Nutrition,39900.0,55300.0,33900.0,99200.0,HASS
42,Philosophy,39900.0,81200.0,35500.0,168000.0,HASS
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,STEM
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [79]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [80]:
df.shape

(51, 6)

In [81]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [82]:
# For checking bad data such as 'NaN'
df.isna().tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [83]:
df = df.dropna()

In [84]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [85]:
df['Starting Median Salary']

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

In [86]:
df['Starting Median Salary'].idxmax()

np.int64(43)

In [87]:
df[df['Starting Median Salary'] == df['Starting Median Salary'].max()]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,STEM

In [88]:
df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [89]:
df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [90]:
df[df['Mid-Career Median Salary'] == df['Mid-Career Median Salary'].max()]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM

In [91]:
# What college major has the highest mid-career salary?
df[df['Mid-Career Median Salary'] == df['Mid-Career Median Salary'].max()]["Undergraduate Major"]

8    Chemical Engineering
Name: Undergraduate Major, dtype: object

In [92]:
# How much do graduates with this major earn?
df[df['Mid-Career Median Salary'] == df['Mid-Career Median Salary'].max()]["Mid-Career Median Salary"]

8    107000.0
Name: Mid-Career Median Salary, dtype: float64

In [93]:
# Which college major has the lowest starting salary? how much do graduates earn after university?
df[
df['Starting Median Salary'] == df['Starting Median Salary'].min()
]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [94]:
# Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?
df[
    df['Mid-Career Median Salary'] == df['Mid-Career Median Salary'].min()
]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
18,Education,34900.0,52000.0,29300.0,102000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS

In [95]:
spread= df['Mid-Career 90th Percentile Salary'] - df['Mid-Career 10th Percentile Salary']

In [96]:
df.insert(len(df.columns), "spread", spread, )

In [97]:
# if the difference between the 10th percentile and the 90th percentile earnings of your major is small, then you can be more certain about your salary after you graduate.
df[
    df["spread"] == df["spread"].min()
]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,spread
40,Nursing,54200.0,67000.0,47600.0,98300.0,Business,50700.0

In [98]:
df.sort_values("spread", ascending= True)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,spread
40,Nursing,54200.0,67000.0,47600.0,98300.0,Business,50700.0
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,STEM,57600.0
41,Nutrition,39900.0,55300.0,33900.0,99200.0,HASS,65300.0
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS,65400.0
27,Health Care Administration,38800.0,60600.0,34600.0,101000.0,Business,66400.0
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS,66700.0
23,Forestry,39100.0,62600.0,41000.0,111000.0,Business,70000.0
32,Interior Design,36100.0,53200.0,35700.0,107000.0,HASS,71300.0
18,Education,34900.0,52000.0,29300.0,102000.0,HASS,72700.0
15,Criminal Justice,35000.0,56300.0,32200.0,107000.0,HASS,74800.0
26,Graphic Design,35700.0,59800.0,36000.0,112000.0,HASS,76000.0
31,Information Technology (IT),49100.0,74800.0,44500.0,129000.0,STEM,84500.0
10,Civil Engineering,53900.0,90500.0,63400.0,148000.0,STEM,84600.0
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business,85400.0
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS,87300.0
29,Hospitality & Tourism,37800.0,57500.0,35500.0,124000.0,Business,88500.0
24,Geography,41200.0,65500.0,40000.0,132000.0,HASS,92000.0
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS,95400.0
12,Computer Engineering,61400.0,105000.0,66100.0,162000.0,STEM,95900.0
5,Art History,35800.0,64900.0,28800.0,125000.0,HASS,96200.0
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM,96700.0
13,Computer Science,55900.0,95500.0,56000.0,154000.0,STEM,98000.0
6,Biology,38800.0,64800.0,36900.0,135000.0,STEM,98100.0
19,Electrical Engineering,60900.0,103000.0,69300.0,168000.0,STEM,98700.0
38,Mechanical Engineering,57900.0,93600.0,63700.0,163000.0,STEM,99300.0
20,English,38000.0,64700.0,33400.0,133000.0,HASS,99600.0
35,Management Information Systems (MIS),49200.0,82300.0,45300.0,146000.0,STEM,100700.0
21,Film,37900.0,68500.0,33900.0,136000.0,HASS,102100.0
9,Chemistry,42600.0,79900.0,45300.0,148000.0,STEM,102700.0
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS,104200.0
11,Communications,38100.0,70000.0,37500.0,143000.0,HASS,105500.0
34,Journalism,35600.0,66700.0,38400.0,145000.0,HASS,106600.0
39,Music,35900.0,55000.0,26700.0,134000.0,HASS,107300.0
7,Business Management,43000.0,72100.0,38800.0,147000.0,Business,108200.0
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business,109800.0
25,Geology,43500.0,79500.0,45000.0,156000.0,STEM,111000.0
28,History,39200.0,71000.0,37000.0,149000.0,HASS,112000.0
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business,113700.0
14,Construction,53700.0,88900.0,56300.0,171000.0,Business,114700.0
30,Industrial Engineering,57700.0,94700.0,57100.0,173000.0,STEM,115900.0
16,Drama,35900.0,56900.0,36700.0,153000.0,HASS,116300.0
33,International Relations,40900.0,80900.0,38200.0,157000.0,HASS,118800.0
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM,122000.0
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM,122100.0
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS,126800.0
42,Philosophy,39900.0,81200.0,35500.0,168000.0,HASS,132500.0
36,Marketing,40800.0,79600.0,42100.0,175000.0,Business,132900.0
37,Math,45400.0,92400.0,45200.0,183000.0,STEM,137800.0
22,Finance,47900.0,88300.0,47200.0,195000.0,Business,147800.0
17,Economics,50100.0,98600.0,50600.0,210000.0,Business,159400.0

In [99]:
df.sort_values("spread", ascending= True)[['Undergraduate Major', 'spread']].head()

           Undergraduate Major   spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [104]:
# Find the top 5 degrees with the highest values in the 90th percentile.
df.sort_values(
    'Mid-Career 90th Percentile Salary',
    ascending= False
).head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,spread,diff mid and starter
17,Economics,50100.0,98600.0,50600.0,210000.0,Business,159400.0,48500.0
22,Finance,47900.0,88300.0,47200.0,195000.0,Business,147800.0,40400.0
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM,122100.0,43800.0
37,Math,45400.0,92400.0,45200.0,183000.0,STEM,137800.0,47000.0
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM,122000.0,47000.0

In [ ]:
# find the degrees with the greatest spread in salaries.
spread_starting_and_mid = df['Mid-Career Median Salary'] - df['Starting Median Salary']
df.insert(len(df.columns), "diff mid and starter", spread_starting_and_mid)

ValueError: cannot insert diff mid and starter, already exists

In [105]:
df.sort_values(
    'diff mid and starter',
    ascending= False
).head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,spread,diff mid and starter
17,Economics,50100.0,98600.0,50600.0,210000.0,Business,159400.0,48500.0
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM,122000.0,47000.0
37,Math,45400.0,92400.0,45200.0,183000.0,STEM,137800.0,47000.0
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM,122100.0,43800.0
12,Computer Engineering,61400.0,105000.0,66100.0,162000.0,STEM,95900.0,43600.0

In [109]:
df.groupby('Group').count()[['Undergraduate Major']]

          Undergraduate Major
Group
Business                   12
HASS                       22
STEM                       16

In [149]:
# can you use the .mean() method to find the average salary by group?
df.groupby('Group')['Mid-Career Median Salary'].mean()

Group
Business   75,083.33
HASS       62,968.18
STEM       90,812.50
Name: Mid-Career Median Salary, dtype: float64